ul,
li {
    list-style: none;
}

body,
html {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    letter-spacing: -0px;
    -webkit-font-smoothing: antialiased;
    padding-top: 20px;
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

#editbutton {
    font-size: 25px;
    color: #000;
    position: fixed;
    bottom: 0;
    left: 0;
}

#editbutton:hover {
    color: #fff;
}

.weather-wrapper {
    float: left;
    color: white;
    max-width: 400px;
}

strong {
    color: white;
    font-weight: bold;
}

.capitalize {
    text-transform: capitalize;
}

.hide {
    display: none;
}

.weather-temperature {
    font-size: 70px;
    line-height: 0.9;
}

.weather-icon {
    float: left;
    margin-right: 5px;
}

.min-max-temp {
    color: #5f5f5f;
    line-height: 1.5;
}

.weather-sub {
    color: #5f5f5f;
    line-height: 1.5;
    margin-top: -15px;
    font-size: 16px;
}

.clock {
    height: 100px;
    width: 70%;
    line-height: 100px;
    margin: 150px auto 0;
    padding: 0 50px;
    color: #fff;
    text-align: center;
}

.lower-third {
    position: absolute;
    top: 75%;
    height: 200px;
    margin-top: -100px;
    line-height: 100px;
}

.center-hor {
    position: absolute;
    right: 10px;
    left: 10px;
    text-align: center;
}

#weatherbox {
    clear: both;
    float: right;
    text-align: right;
    margin-top: 0px;
    margin-right: 20px;
    text-transform: capitalize;
    display: inline-block;
}

#clockbox {
    width: 500px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 70px;
    display: inline-block;
}

#clockhours {
    font-size: 70px;
    color: #fff;
    float: left;
    line-height: 0.7;
    display: inline-block;
    cursor: default;
    select: none;
}

#ampm {
    font-size: 63px;
    color: #fff;
    display: inline-block;
    line-height: 0.7;
    margin-top: 5px;
}

#clockseconds {
    font-size: 30px;
    line-height: 0.7;
    margin-left: 2px;
    color: #666;
    display: inline-block;
    vertical-align: top;
}

#calendarbox {
    width: 500px;
    text-align: left;
    margin-left: 20px;
    text-transform: capitalize;
}

.eventtitle {
    font-size: 20px;
    font-weight: bold;
    width: 60%;
    min-width: 300px;
    float: left;
    text-align: left;
    line-height: 1.5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
}

#gradient {
    height: 150px;
    width: 500px;
    position: absolute;
    background: -moz-linear-gradient(top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.85) 100%);
    background: -webkit-linear-gradient(top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.85) 100%);
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}

.eventdate {
    float: right;
    width: 40%;
    text-align: right;
    font-size: 20px;
    line-height: 1.5;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
}

#complimentsbox {
    position: absolute !important;
    top: 75%;
    height: 200px;
    margin-top: -100px;
    line-height: 100px;
    right: 10px;
    left: 10px;
    text-align: center;
}

.compliment {
    width: 100%;
    font-size: 70px;
    position: absolute !important;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.wind {
    margin-right: 2px;
}

#date {
    font-size: 30px;
    color: #aaa;
    letter-spacing: -2.2px;
}

#clock {
    line-height: 0.7;
}

.weather-place {
    display: block;
    font-size: 30px;
    color: #aaa;
    line-height: 0.1;
    letter-spacing: -2.2px;
}

#wrapper {
    display: none;
    height: 100%;
    width: 100%;
}

#errorbox {
    background-color: #000;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    opacity: 0;
}

#newsfeed {
    text-align: center;
    color: #fff;
    position: absolute !important;
    height: 100px;
    margin-top: -100px;
    line-height: 100px;
    right: 10px;
    left: 10px;
    top: 20px;
    text-align: center;
}

#rsstitle {
    text-align: center;
    color: #666;
    position: absolute !important;
    height: 100px;
    margin-top: -100px;
    line-height: 100px;
    right: 10px;
    left: 10px;
    text-align: center;
}

#rssbox {
    text-align: center;
    color: #fff;
    position: absolute !important;
    top: 100%;
    height: 100px;
    margin-top: -100px;
    line-height: 100px;
    right: 10px;
    left: 10px;
    text-align: center;
}

.newstitle {
    font-size: 24px;
    width: 100%;
    position: absolute !important;
}

#errortext {
    font-size: 40px;
    margin-top: 16%;
    text-align: center;
    font-family: "HelveticaNeue-UltraLight";
}

.weather-days-list-item {
    display: inline-block;
    text-align: center;
    width: 20%;
}

.weather-days-list {
    padding-left: 0px !important;
    margin-right: -14px;
}

.degrees-2 {
    font-size: 21px;
    font-weight: bold;
}

.day {
    margin-top: 4px;
}

.title-4 {
    display: none;
}