{
	"dashboard": {
		"components": [
			{
				"id": "clock",
				"enabled": true,
				"area": "top-left"
			},
			{
				"id": "weather",
				"enabled": true,
				"area": "top-right"
			},
			{
				"id": "calendar",
				"enabled": true,
				"area": "top-left"
			},
			{
				"id": "system-stats",
				"enabled": true,
				"area": "bottom-right"
			},
			{
				"id": "wifi-qr-code",
				"enabled": true,
				"area": "bottom-left"
			},
			{
				"id": "events",
				"enabled": true,
				"area": "center"
			},
			{
				"id": "greetings",
				"enabled": true,
				"area": "center"
			},
			{
				"id": "reminders",
				"enabled": true,
				"area": "notifications"
			},
			{
				"id": "rss-feed",
				"enabled": true,
				"area": "notifications"
			}
		]
	},
	"components": {
		"weather": {
			"apiKey": "",
			"latitude": "",
			"longitude": "",
			"alertsCountry": "united-kingdom",
			"alertsProvince": ""
		},
		"calendar": {
			"clientId": "",
			"clientSecret": "",
			"maxEvents": 12,
			"calendarColors": [
				{
					"calendarName": "Personal",
					"colorClass": "green-500"
				},
				{
					"calendarName": "Work",
					"colorClass": "blue-500"
				},
				{
					"calendarName": "Family",
					"colorClass": "purple-500"
				}
			]
		},
		"events": {
			"events": [
				{
					"start": "10-31",
					"end": "11-01",
					"eventSlug": "halloween",
					"customGreeting": "🎃 Happy Halloween! 🎃"
				},
				{
					"start": "12-25",
					"end": "12-26",
					"customGreeting": "🎄 Merry Christmas! 🎅"
				},
				{
					"start": "01-01",
					"end": "01-02",
					"customGreeting": "🎆 Happy New Year! 🎆"
				}
			]
		},
		"spotify": {
			"clientId": "",
			"clientSecret": "",
			"accounts": [],
			"albumArtStyle": "vinyl"
		},
		"adguard": {
			"url": "",
			"token": ""
		},
		"rss-feed": {
			"rssFeeds": [
				{
					"url": "https://www.theguardian.com/world/rss",
					"sourceName": "The Guardian | World"
				}
			]
		},
		"reminders": {
			"uprn": "",
			"apiEndpoint": ""
		},
		"wifi-qr-code": {
			"networkName": "",
			"password": "",
			"securityType": "WPA"
		},
		"greetings": {
			"greetings": [
				{
					"text": "Good morning!",
					"startHour": 0,
					"endHour": 12
				},
				{
					"text": "Good afternoon!",
					"startHour": 12,
					"endHour": 18
				},
				{
					"text": "Good evening!",
					"startHour": 18,
					"endHour": 24
				}
			]
		}
	}
}
