@import 'tailwindcss';

html {
	background-color: black;
	font-family: 'Roboto', 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', 'EmojiOne Color', 'Twemoji Mozilla', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}