@import 'tailwindcss';

html {
    background-color: black;
}

body {
    animation: nudge 120s infinite alternate;
}

@keyframes nudge {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(2px);
    }
}